@import url("https://fonts.googleapis.com/css?family=Roboto");

.text-bg-secondary {
    background-color: #363B3F !important;
}

.flex-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.zip-form {
    padding: 15px;
}

.zip-form label {
    margin-top: 7px;
    vertical-align: middle;
}

.zip-form input {
    width: 20%;
    margin: 0 10px;
    font-size: 20px;
    vertical-align: middle;
}

.zip-form button {
    padding: 7px 10px;
}

.zip-form button:hover {
    background-color: inherit;
    color: var(--bs-primary);
}

.weather-list {
    margin: 20px 0;
}

.weather-list-item {
    min-width: 100px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.weather-list-item :first-child {
    margin-left: 0;
}

.weather-list-item :last-child {
    margin-right: 0;
}

.weather-list-item>h3 {
    font-weight: normal;
}

.current-day {
    padding: 20px;
    padding-top: 0;
}

.details {
    justify-content: flex-start;
}

.details>div {
    padding-left: 20px;
}

.details>div :first-child {
    padding-left: 0;
}

.weather {
    font-size: 30px;
    line-height: 1.4;
}

.weather p {
    margin: 0;
}

.weather img {
    vertical-align: middle;
}
